@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(background_body.gif) no-repeat;
    background-size: cover;
}

#wrapper {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}

#bagan-dua {
    background: url(button_background_02.jpg);
    height: 183px;
    margin: -7px 0;
}

#button {
    padding: 0 35px;
    cursor: pointer;
    display: flex;
}

#kare {
    background: url(background_kare_02.jpg) no-repeat;
    display: flex;
    height: 500px;
}

#gambar-kare {
    padding-top: 50px;
}

#judul-kare {
   padding-top: 50px;
   padding-left: 95px;
}

#keterangan-kare {
    margin:-320px 0;
    padding-left: 450px;
}

#main1 {
    font-size: 20px;
    color: #57799c;
}

#sub1 {
    font-size: 18px;
    color: #3c546d;
}

#ramen {
    display: flex;
    background: url(background_ramen_02.jpg) no-repeat;
    margin-top: 360px;
}

#gambar-ramen {
    padding-top: 50px;
    padding-left: 82px;
}

#judul-ramen {
    padding-top: 50px;
    padding-left: 50px;
}

#keterangan-ramen {
    margin-top: -255px;
    padding-left: 70px;
}

#main2 {
    font-size: 20px;
    color: #57799c;
}

#sub2 {
    font-size: 18px;
    color: #3c546d;
}

#hitsumabushi {
    display: flex;
    background: url(background_hitsumabushi_02.jpg);
    margin-top: 50px;
    height: 500px;
}

#gambar-hitsumabushi {
    padding-top: 70px;
}

#judul-hitsumabushi {
    padding-top: 70px;
    padding-left: 110px;
}

#keterangan-hitsumabushi {
    margin:-290px 0;
    padding-left: 450px;
}

#main3 {
    font-size: 20px;
    color: #57799c;
}

#sub3 {
    font-size: 18px;
    color: #3c546d;
}

#kupon {
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    padding: 20px 90px;
}

#akses {
    padding: 10px 60px;
}

#main4 {
    font-size: 42px;
}

#sub4 {
    padding-top: 10px;
    font-size: 20px;
    color: #24384c;
}
#bottom {
    background: url(background_akhir_02.jpg) no-repeat;
    height: 400px;
    margin: -320px 0;
}

p {
    font-family: "zen maru gothic";
    font-weight: 600;

}

.box img {
    display: block;
    width: 100%;
    padding: 0 4px;
}

.box :hover {
    transform: scale(1.1);
    z-index: 1;
}